apikey.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version