apikey.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pylint.d

# Spyder project settings
.spyderproject
.spyproject

# Jupyterproject settings
.jupyter/

# Jupyter Notebook
.ipynb_checkpoints


# pyenv
.python-version

# pysheds env
env/
*.yml

# install file
install
